@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.swal-modal {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-bottom: 10px;
  color: #252525;
}

.swal-confirm-button {
  background-color: #f0843c;
  color: white;
}

.swal-confirm-button:hover {
  background-color: #cf6b29ff;
}

.swal-one-buttons {
  display: flex;
  width: 100%;
}

.swal-wide-button {
  flex: 1;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 20px;
}
